<ion-header [translucent]="false">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="title">
            <ion-title><b>Food Haven</b></ion-title>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-slides mode="ios" pager="ios" scrollbar="ios" autoplay="5000" loop="true" speed="3000">
        <ion-slide>
            <div class="container">
                <img src="../../assets/images/food-3.jpg" style="width: 100%; height: 100%;" />
            </div>
        </ion-slide>
        <ion-slide>
            <div class="container">
                <img src="../../assets/images/food-3.jpg" style="width: 100%; height: 100%;" />
            </div>
        </ion-slide>
        <ion-slide>
            <div class="container">
                <img src="../../assets/images/food-3.jpg" style="width: 100%; height: 100%;" />
            </div>
        </ion-slide>
    </ion-slides>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="padding-bottom: 60px;">
        <ion-fab-button color="secondary">
            <ion-icon name="person"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="secondary" href="" target="_parent">
            <ion-icon name="cart"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <table>
        <tr>
            <td></td>
            <ion-card class="container-c1">
                <ion-card-header>
                    <!-- <ion-card-subtitle>Cuisine</ion-card-subtitle>
                    <ion-card-title>Select a cuisine of your choice</ion-card-title> -->
                </ion-card-header>
                <ion-card-content style="color: brown;">
                    <a routerLink="/fourth" routerLinkActive="active">
                        <ion-img src="../../assets/images/food-7(rs).jpg"></ion-img>
                    </a>
                </ion-card-content>
            </ion-card>

            <ion-card class="container-c1">
                <ion-card-header>
                    <!-- <ion-card-subtitle>Cuisine</ion-card-subtitle>
                    <ion-card-title>Select a cuisine of your choice</ion-card-title> -->
                </ion-card-header>
                <ion-card-content>
                    <a routerLink="/third" routerLinkActive="active">
                        <ion-img src="../../assets/images/infood-2.jpg" ></ion-img>
                    </a>
                </ion-card-content>
            </ion-card>

            <ion-card class="container-c1">
                <ion-card-header>
                    <!-- <ion-card-subtitle>Cuisine</ion-card-subtitle>
                    <ion-card-title>Select a cuisine of your choice</ion-card-title> -->
                </ion-card-header>
                <ion-card-content>
                    <a routerLink="/second" routerLinkActive="active">
                        <ion-img src="../../assets/images/infood-3.jpg"></ion-img>
                    </a>
                </ion-card-content>
            </ion-card>

            <ion-card class="container-c1">
                <ion-card-header>
                    <!-- <ion-card-subtitle>Cuisine</ion-card-subtitle>
                    <ion-card-title>Select a cuisine of your choice</ion-card-title> -->
                </ion-card-header>
                <ion-card-content>
                    <a routerLink="/first" routerLinkActive="active">
                        <ion-img src="../../assets/images/infood-4(reduced res).jpg"></ion-img>
                    </a>
                </ion-card-content>
            </ion-card>
        </tr>
    </table>
</ion-content>