<ion-header [translucent]="false">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div>
            <ion-title><b>Food Haven</b></ion-title>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="padding-bottom: 55px;">
        <ion-fab-button color="secondary">
            <ion-icon name="menu"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
            <ion-fab-button><ion-icon name="camera"></ion-icon></ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="bottom">
            <ion-fab-button><ion-icon name="person-outline"></ion-icon></ion-fab-button>
        </ion-fab-list>
    </ion-fab>
    <table>
        <tr>
            <td></td>
            <ion-card>
                <ion-card-header>
                    <ion-card-title>
                        <a routerLink="/fourth" routerLinkActive="active">Butter Naan</a>
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <a routerLink="/fourth" routerLinkActive="active">
                        <ion-img src="../../assets/images/infood-1.jpg" style="padding-top: 5px;"></ion-img>
                    </a>
                </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-card-header>
                    <ion-card-title>
                        <a routerLink="/third" routerLinkActive="active">Chicken Korma</a>
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <a routerLink="/third" routerLinkActive="active">
                        <ion-img src="../../assets/images/infood-2.jpg" style="padding-top: 5px;"></ion-img>
                    </a>
                </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-card-header>
                    <ion-card-title>
                        <a routerLink="/second" routerLinkActive="active">Chicken Momo</a>
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <a routerLink="/second" routerLinkActive="active">
                        <ion-img src="../../assets/images/infood-3.jpg" style="padding-top: 5px;"></ion-img>
                    </a>
                </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-card-header>
                    <ion-card-title>
                        <a routerLink="/first" routerLinkActive="active">Chicken Biryani</a>
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <a routerLink="/first" routerLinkActive="active">
                        <ion-img src="../../assets/images/infood-4.jpg" style="padding-top: 5px;"></ion-img>
                    </a>
                </ion-card-content>
            </ion-card>
        </tr>
    </table>
</ion-content>